body {
  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
  line-height: calc(18 / 14);
 
}



.body-lock {
  overflow: hidden;
}

.section-categories-suppot-thumb{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
  margin: 40px 0 40px;

  @media screen and (min-width: 768px) {
      flex-direction: row;
      gap: 32px;
      margin: 40px 0 100px;
    }

  @media screen and (min-width: 1440px) {
      flex-direction: column;
      gap: 86px;
      margin: 40px 0 0 0;
    }
}

.container {
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  @media screen and (min-width:1440px) {
    max-width: 1440px;
    padding-left: 24px;
    padding-right: 24px;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}