@import "~node_modules/modern-normalize/modern-normalize.css";
@import "./base/reset";
@import "./abstracts/vars";
@import "./base/common";
@import "./abstracts/darkTheme";
@import "./base/fonts";
@import "./abstracts/mixins";
@import "./abstracts/placeholders";
@import "./base/main-page/categories";
@import "./base/main-page/top-books";
@import "./base/main-page/home-page";
@import "./base/main-page/SupportUkraine";
@import "./components/header";

@import "./base/shopingListPage/ShoppingList";

@import "./base/main-page/loader";


// components
@import "./components/all-categories";
@import "./components/auth-test";
@import "./components/paginator";
@import "./components/authorization";
@import "./components/single-book-card";
@import "./components/single-book-popup";
@import "./components/support";
@import "./components/best-sellers";
@import "./components/shopping-list";
@import "./components/back-to-top-button";

@import './base/main-page/pop-up';



@import "./layout/categories";
@import "./layout/shoppingList";

// swiper

// @import 'swiper/css'