.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }

  .container {
    max-width: $mobile;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
  
    @media screen and (min-width: $tablet) {
      max-width: $tablet;
      padding-left: 32px;
      padding-right: 32px;
    }
  
    @media screen and (min-width: $desktop) {
      max-width: $desktop;
      padding-left: 24px;
      padding-right: 24px;
    }
  }