.shopping-list {
    margin-top: 40px;
    font-family: 'DM Sans';
  }

.shopping-list__title {
    width: 193px;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.19;
    letter-spacing: -0.04em;
    margin-bottom: 40px;
    margin-left: 20px;
    color: #111111;
    
    @media screen and (min-width: 768px){
        font-size: 48px;
        line-height: 1.08;      
        display: inline;  
    }
//     @media screen and (min-width: 1440px) {
//         font-size: 48px;
//         line-height: 1.08;   
//   }
}

  .shopping-list__title-span {
    color: #4F2EE8;
    display: inline;
  }

  .shopping-list__empty-image {
    background-image: url(../images/shoppinglist/booksMobile.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 265px;
    height: 198px;
  }

  @media (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .shopping-list__empty-image {
      background-image: url(../images/shoppinglist/booksMobile@2x.png);
      background-size: 265px 198px;
    }
  }

  .shopping-list__empty-image {
    background-image: url(../images/shoppinglist/booksTablet.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 322px;
    height: 241px;
  }
  @media (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .shopping-list__empty-image {
      background-image: url(../images/shoppinglist/booksTablet@2x.png);
      background-size: 322px 241px;
    }
    }

.shopping-list__empty-page {
        margin-top: 120px;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

.shopping-list__empty-text {
        margin-bottom: 14px;
    
        font-family: 'DM Sans';
        font-weight: 400;
        font-size: 14px;
        line-height: 1.29;
        text-align: center;
        letter-spacing: -0.02em;
        color: rgba(0, 0, 0, 0.6);
      }
