<aside class="aside">
  <section class="section-support shopList_support">
    <div class="support-menu">
      <div class="support-menu__title-thumb">
        <h2 class="support-menu__tittle">Support Ukraine</h2>
        <svg class="support-menu__icon-coat" width="20" height="32">
          <use href="/src/images/svg/icons.svg#icon-coat-of-arms-Ukraine"></use>
        </svg>
      </div>
      <div class="support-menu__swiper mySwiper">
        <ul class="swiper-wrapper support-menu__list">
          <li class="swiper-slide support-menu__item" data-index="1">
            <p>01</p>
            <a
              class="swiper-slide__link-js"
              target="_blank"
              rel="noreferrer noopener"
              href=""
              ><img
                class="swiper-slide__img-js"
                src="./images/save to Ukraine/3.png"
                alt="sdasd"
            /></a>
          </li>
          <li class="swiper-slide support-menu__item" data-index="2">
            <p>02</p>
            <a
              class="swiper-slide__link-js"
              target="_blank"
              rel="noreferrer noopener"
              href=""
              ><img
                class="swiper-slide__img-js"
                src="./images/save to Ukraine/1.png"
                alt="sdasd"
            /></a>
          </li>
          <li class="swiper-slide support-menu__item" data-index="3">
            <p>03</p>
            <a
              class="swiper-slide__link-js"
              target="_blank"
              rel="noreferrer noopener"
              href=""
              ><img
                class="swiper-slide__img-js"
                src="./images/save to Ukraine/2.png"
                alt="sdasd"
            /></a>
          </li>
          <li class="swiper-slide support-menu__item" data-index="4">
            <p>04</p>
            <a
              class="swiper-slide__link-js"
              target="_blank"
              rel="noreferrer noopener"
              href=""
              ><img
                class="swiper-slide__img-js"
                src="./images/save to Ukraine/4.png"
                alt="sdasd"
            /></a>
          </li>
          <li class="swiper-slide support-menu__item" data-index="5">
            <p>05</p>
            <a
              class="swiper-slide__link-js"
              target="_blank"
              rel="noreferrer noopener"
              href=""
              ><img
                class="swiper-slide__img-js"
                src="./images/save to Ukraine/5.png"
                alt="sdasd"
            /></a>
          </li>
          <li class="swiper-slide support-menu__item" data-index="6">
            <p>06</p>
            <a
              class="swiper-slide__link-js"
              target="_blank"
              rel="noreferrer noopener"
              href=""
              ><img
                class="swiper-slide__img-js"
                src="./images/save to Ukraine/6.png"
                alt="sdasd"
            /></a>
          </li>
          <li class="swiper-slide support-menu__item" data-index="7">
            <p>07</p>
            <a
              class="swiper-slide__link-js"
              target="_blank"
              rel="noreferrer noopener"
              href=""
              ><img
                class="swiper-slide__img-js"
                src="./images/save to Ukraine/7.png"
                alt="sdasd"
            /></a>
          </li>
          <li class="swiper-slide support-menu__item" data-index="8">
            <p>08</p>
            <a
              class="swiper-slide__link-js"
              target="_blank"
              rel="noreferrer noopener"
              href=""
              ><img
                class="swiper-slide__img-js"
                src="./images/save to Ukraine/8.png"
                alt="sdasd"
            /></a>
          </li>
          <li class="swiper-slide support-menu__item" data-index="9">
            <p>09</p>
            <a
              class="swiper-slide__link-js"
              target="_blank"
              rel="noreferrer noopener"
              href=""
              ><img
                class="swiper-slide__img-js"
                src="./images/save to Ukraine/9.png"
                alt="sdasd"
            /></a>
          </li>
        </ul>
        <div class="support-menu__swiperbutton">
          <svg width="20" height="20">
            <use href="/src/images/svg/icons.svg#icon-arrow-down"></use>
          </svg>
        </div>
      </div>
    </div>
  </section>
</aside>
