<!-------------Shoppinglist Page local storage----------------->
<section class="shopping-list">
  <h1 class="shopping-list__title">
    Shopping <span class="shopping-list__title-span">List</span>
  </h1>
  <div class="shopping-list__container">
    <div class="shopping-list__empty-page">
      <p class="shopping-list__empty-text">
        This page is empty, add some books <br />
        and proceed to order.
      </p>
      <div class="shopping-list__empty-image"></div>
    </div>
  </div>
</section>
