.backdrop-form {
	height: 100vh;
	background: var(--gradient);
	position: relative;
}
.block-of-forms {
	display: flex;
	position: relative;
	top: 50%;
	left: 0;
	justify-content: center;
	align-content: center;
}
.form {
	position: absolute;

	overflow: auto;
	min-width: 320px;
	min-height: 400px;

	padding-top: 40px;
	padding-bottom: 40px;
	padding-left: 20px;
	padding-right: 20px;

	display: flex;
	align-self: center;
	flex-direction: column;

	border: 2px solid var(--primary-dark);
	background-color: var(--bg-light);
	border-radius: 18px;

	@media screen and (min-width: $mobile) {
		width: 335px;
	}
	@media screen and (min-width: $tablet) {
		width: 579px;
	}

	&__submit {
		margin-bottom: 20px;
		width: 100%;
		height: 50px;

		background-color: var(--primary-dark);
		font-weight: 700;
		font-size: 16px;
		line-height: 1.12;
		color: var(--logo-light);

		letter-spacing: -0.01em;
		text-transform: uppercase;

		border-radius: 40px;
		cursor: pointer;
		transition: background-color var(--time) var(--cubic);
		&:hover,
		&:focus {
			background-color: var(--primary-akzent);
		}
	}
	&__close {
		height: 20px;
		width: 20px;
		position: absolute;
		top: 14;
		right: 14;

		border: 0;
		padding: 0;

		background-color: inherit;
		cursor: pointer;

		transition: fill var(--time) var(--cubic);
		&:hover,
		&:focus {
			fill: var(--primary-akzent);
		}
	}
}

.sign-in {
	justify-content: center;
	display: none;
}
.sign-up {
	display: block;
}
.wrapper-input {
	position: relative;
}
.input {
	width: 100%;
	height: 50px;

	margin-bottom: 24px;
	padding-left: 40px;
	padding-right: 60px;
	padding-top: 20px;
	padding-bottom: 20px;
	border: 2px solid var(--primary-dark);
	border-radius: 40px;

	font-family: "DM Sans";
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.12;

	letter-spacing: -0.01em;
	transition: border var(--time) var(--cubic), outline var(--time) var(--cubic);
	&::placeholder {
		text-transform: uppercase;
	}
	&:focus-within {
		border: none;
		outline: 2px solid var(--secondary-akzent);
	}

	&__mail {
		position: absolute;
		right: 24px;
		top: 11px;
		transition: fill var(--time) var(--cubic);
	}
	&__lock {
		position: absolute;
		right: 24px;
		top: 11px;
		transition: fill var(--time) var(--cubic);
	}
}
.input:focus-within + .input__mail,
.input:focus-within + .input__lock {
	fill: var(--secondary-akzent);
}

.type-of-auth {
	display: flex;
	justify-content: center;
	margin-left: -20px;
}
.btn__auth {
	background: none;
	border: none;

	margin-left: 20px;

	color: var(--text-list-rgb);
	font-weight: 700;
	font-size: 14px;
	line-height: 1.29;

	letter-spacing: -0.01em;
	text-transform: uppercase;
	cursor: pointer;
	transition: color var(--time) var(--cubic);

	&:hover,
	&:focus {
		color: var(--primary-akzent);
	}
}
.currentAuth {
	text-decoration-line: underline;
	color: var(--primary-akzent);
}
