
:root {
    --main-text-color: rgba(17, 17, 17, 0.6);
}





/* crollbar settings */
::-webkit-scrollbar {
    width: 8px;
    height: 114px;
}

/* Track */
::-webkit-scrollbar-track {
    display: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #E0E0E0;
    border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {}

/* support-menu */

.support-menu {
    position: relative;

    
    height: 352px;
    padding: 20px 40px 0;

    background: radial-gradient(183.6% 183.01% at 59.76% -23.42%, #4F2EE8 18.03%, #FFFFFF 100%)
        /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
    ;
    box-shadow: 0px 10px 10px rgba(245, 245, 247, 0.1);
    border-radius: 16px;

    color: #FFFFFF;
}

.support-menu__tittle {
    margin-bottom: 40px;

    text-align: center;
    /* text */
    color: #FFFFFF;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.14;
    /* identical to box height, or 114% */
    letter-spacing: -0.04em;
}

.support-menu__list {
    display: flex;
    flex-direction: column;
    margin: 0;
    list-style: none;
    padding: 0;
    /* gap: 20px; */
    /* height: 50px; */
}

.support-menu__item {
    display: flex;
    align-items: center;
    gap: 16px;
}

.support-menu__item img{
    filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(76deg) brightness(107%) contrast(101%);
}


/* swiper settings */

.support-menu__swiper {
    width: 100%;
    height: 200px;
    /* margin-bottom: 68px; */
    overflow: hidden;
}



.support-menu__swiperbutton {
    display: flex;
    height: 32px;
    width: 32px;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 20px;
    left: 50%;
    /* transform: translate(-50%); */
    z-index: 1;
    background-color: #FFFFFF;
    border-radius: 50%;
    transform: translateX(-50%);
    transition: transform 250ms ease-in-out;
}

.support-menu__disabled {
    /* display: none; */
    /* background-color: black; */
    transform: rotate(180deg) translateX(50%);
}

// .swiper-slide:last-child {
//     height: 0px !important;
//     /* display: hidden; */
// }

.support-menu__title-thumb{
    display: flex;
    gap: 12px;
}





/* media */


@media screen and (min-width:768px) {
  

    .support-menu {
        width: 100%;
        height: 472px;
    }

    .support-menu__swiper {
        height: 320px;
    }

    
}

@media screen and (min-width:1440px) {

    // .menu-container {
    //     display: inline-block;
    //     width: 356px;
    //     margin: 0;
    //     gap: 86px;
    //     flex-direction: column;
    //     justify-content: space-between;

    // }

   

   

    .support-menu {
        width: 356px; 
        height: 490px;
    }
}


// shopping list page


.support-menu-shoppinglist{
    width: 356px;
    height: 490px;
}


